// Colors
$w: #fff;
$b: #000;
$light: #f7f7f7;
$gray: #6f6f6e;
$gray-dark: #5a5a5a;
$gray-light: #c7c8ca;
$anthracite: #333132;
$violet: #aa047c;
$purple: #80217e;


// VARIOUS
$speed: .5s;


// SIZE
$base-font-size:16px;
$font-size: $base-font-size + 2px;
$f: 100%;
$bp: 850px;

// FONTS
$main-font: 'din', sans-serif;
$interline-base: percentage( 30px/18px );
$interline-title: percentage( 86px/72px );
