$error: #d0043c;
%inputs {
	background-color: $w;
	border: 0;
	@include appearance(none);
	width: $f;
	font-size: $font-size;
	color: $gray;
	padding: em(20px, $font-size) em(20px, $font-size) 0;
	@include input-placeholder {
		font-size: 1em;
		font-family: $main-font;
		color: $gray;
	}
	&.ng-invalid.ng-touched {
		color: $error;
		background-color: lighten($error, 60%);
		@include input-placeholder {
			color: $error;
		}
	}
}

input[type="email"], input[type="text"], input[type="tel"], textarea {
	@extend %inputs;
	height: em(50px, $font-size)
}

textarea {
	.modal-container & {
		height: em(125px, $font-size);
	}
}

.form {
	display: flex;
	&-col {
		@include breakpoint($bp) {
			width: $f/2;
		}
	}
	&-content, &-inputs {
		width: $f;
		display: flex;
		flex: 0 0 auto;
		@include normalize_padding;
	}
	&-content {
		background-color: $light;
		@include breakpoint($bp) {
			width: $f/3;
		}
	}
	&-inputs {
		background-color: $anthracite;
		color: $light;
		@include breakpoint($bp) {
			width: ($f/3) * 2;
		}
	}
	&-row {
		padding-bottom: em(25px);
	}
}

.btn-send {
	border-radius: em(25px);
	color: $w;
	font-size: $font-size;
	height: em(50px, $font-size);
	line-height: em(50px);
	overflow: hidden;
	position: relative;
	border: 0;
	width: $f;
	text-transform: uppercase;
	display: block;
	z-index: 1;
	font-weight: bold;
	box-shadow: 0 5px 10px transparentize($b, .75);
	transition: box-shadow $speed;
	@include appearance(none);
	@include gradient;
	.btn {
		position: absolute;
		right: em(3px);
		top: em(3px);
		min-width: em(44px);	
		min-height: em(44px);
	}
	&:hover {
		box-shadow: 0 2px 5px transparentize($b, .5);
		@include gradientAnim;
	}
}