@include grid(12);
.grid-cols {
    align-items: center;
    padding: {
        left: 0;
        right: 0;
    }
    [class^="col"], [class*=" col"] {
        padding: {
            left: 0;
            right: 0;
        }
    }
    &-full-h {
        padding: {
            padding: 0;
            bottom: em(40px);
        }
        @include breakpoint($bp) {
            padding: {
                bottom: em(40px)*2;
            }
        }
        [class^="col"], [class*=" col"] {
            padding: {
                left: 0;
                right: 0;
            }
            overflow: hidden;
            position: relative;
            max-height: calc(100vh - #{em(70px)});
            &:before {
                content: '';
                display: block;
                padding-top: percentage(800px/1400px);
            }
            .video-cover, .figure.full {
                transform: translate3d(-50%, -50%, 0);
                @include absfull();
                top: 50%;
                left: 50%;
            }
            .figure {
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    width: auto !important;
                    height: auto !important;
                    min-height: 100%;
                    min-width: 100%;
                }
            }
        }
    }
}

.row {
    padding: {
        top: em(50px/2);
        bottom: em(50px/2);
    }
    @include breakpoint(640px) {
        padding: {
            top: em(50px);
            bottom: em(50px);
        }
    }
    &-btm {
        padding: {
            top: em(75px/2);
            bottom: em(75px/2);
        }
        @include breakpoint(640px) {
            padding: {
                top: em(75px);
                bottom: em(75px/2);
            }
        }
        @include breakpoint($bp) {
            padding: {
                top: em(100px);
                bottom: em(75px/2);
            }
        }
    }
    &-top {
        padding: {
            top: em(75px/2);
            bottom: em(75px/2);
        }
        @include breakpoint(640px) {
            padding: {
                top: em(75px/2);
                bottom: em(75px);
            }
        }
        @include breakpoint($bp) {
            padding: {
                top: em(75px/2);
                bottom: em(100px);
            }
        }
    }
    &-md {

        padding: {
            top: em(75px/2);
            bottom: em(75px/2);
        }
        @include breakpoint($bp) {
            padding: {
                top: em(75px);
                bottom: em(75px);
            }
        }
        &-btm {
            padding: {
                bottom: em(75px/2);
                top: em(75px/2);
            }
            @include breakpoint($bp) {
                padding: {
                    bottom: em(75px);
                    top: em(100px);
                }
            }
        }
        &-top {
            padding: {
                top: em(75px/2);
                bottom: em(75px/2);
            }
            @include breakpoint($bp) {
                padding: {
                    top: em(75px);
                    bottom: em(100px)
                }
            }
        }
    }
    &-lg {
        padding: {
            top: em(75px/2);
            bottom: em(75px/2);
        }
        @include breakpoint(640px) {
            padding: {
                top: em(75px);
                bottom: em(75px);
            }
        }
        @include breakpoint($bp) {
            padding: {
                top: em(100px);
                bottom: em(100px);
            }
        }
        &-btm {
            padding: {
                bottom: em(75px/2);
            }
            @include breakpoint(640px) {
                padding: {
                    bottom: em(75px);
                }
            }
            @include breakpoint($bp) {
                padding: {
                    bottom: em(100px);
                }
            }
        }
        &-top {
            padding: {
                top: em(75px/2);
            }
            @include breakpoint(640px) {
                padding: {
                    top: em(75px);
                }
            }
            @include breakpoint($bp) {
                padding: {
                    top: em(100px);
                }
            }
        }
    }
}

.content {
    @include normalize_padding;
}
