.figure {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    &.full {
        padding: 0;
        margin: 0;
        &[ng-sm] {
            background-repeat: no-repeat;
            background-size: 110% auto;
            img {
                visibility: hidden
            }
        }
    }
}

.image-grid {
    margin: 0;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
