.job {
    &s {
        position: center;
    }
    position: static;
    &-title {
        font-size: em(22px);
        text-transform: uppercase;
        line-height: $interline-title;
    }
    p {
        text-align: center;
        padding-left: 70px;
        padding-right: 70px;
    }
    &-content {
        position: absolute;
        width: 100vw;
        left: 0;
        top: auto;
        display: none;
        background-color: $light;
    }
}