.job {
    &s {
        position: relative;
    }
    position: static !important;
    text-align: center;
    @include normalize_padding;
    &-title {
        font-size: em(22px);
        text-transform: uppercase;
        line-height: $interline-title;
    }
    p {
        text-align: center;
        @include normalize_padding;
    }
    &-row {
        position: relative;
    }
    &-content {
        position: absolute;
        width: 100vw;
        left: 0;
        bottom: 0;
        display: none;
        background-color: $light;
        text-align: left;
        @include normalize_padding;
    }
}