@keyframes toggle {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes gradientAnim {
    0%{
    	background-position: 97% 0%;
    }
   	50%{
   		background-position: 4% 100%;
    }
    100%{
    	background-position:97% 0%;
    }
}