@keyframes toggle {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes gradientAnim {
    0%{
    	background-position:0% 50%
    }
    50%{
    	background-position:100% 50%
    }
    100%{
    	background-position:0% 50%
    }
}