.manifest-item {
    &-number {
        font-size: em(40px);
        color: $purple;
        position: relative;
        line-height: 1;
        font-style: italic;
        font-weight: bold;
        padding-right: 10px;
        margin-right: 20px;

        &:after {
            content: "";
            width: 5px;
            height: 5px;
            background-color: $gray-dark;
            position: absolute;
            right: 0;
            bottom: 10px;
        }
    }
}