.manifest-item {
    display: flex;
    padding-bottom: em(40px);
    &-number {
        font-size: em(40px);
        width:em(60px, 40px);
        color: $purple;
        position: relative;
        line-height: 1;
        font-style: italic;
        font-weight: bold;
        text-align: left;
       /* padding-right: 10px;
        margin-right: 40px;*/
        &:after {
            content: "";
            width: 7px;
            height: 7px;
            background-color: $gray-dark;
            position: absolute;
            right: 0;
            top: em(30px, 40px);
        }
    }
    &-label {
        text-align: left;
    }
}