.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.menu-container {
    .btn-header {
        height: em(70px);
        display: flex;
        align-items: center;
        color: $w;
        &-text {
            font-size: em(14px);
            padding-right: em(20px, 14px);
        }
        &.btn-menu {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 9999;
            .btn-header-text {
                transition: color $speed, transform $speed;
            }
            &:hover {

            }
            &.active {
                .btn-header-text {
                    color: transparent;
                    transform: translate3d(-20px, 0, 0);
                }
            }
        }
    }
}


.toggle {
    width: em(50px);
    height: 24px;
    .toggle-line {
        display: block;
        height: 4px;
        margin-bottom: 6px;
        background-color: $w;
    }
}