.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.menu-container {
    .btn-header {
        height: em(70px);
        display: flex;
        align-items: center;
        color: $w;
        &-text {
            font-size: em(13px);
            font-family: $main-font;
        }
        &.btn-menu {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 9999;
            .btn-header-text {
                transition: color $speed, transform $speed;
            }
            &:hover {

            }
            &.active {
                .btn-header-text {
                    color: transparent;
                    transform: translate3d(-20px, 0, 0);
                }
            }
        }
    }
}


.toggle {
    width: em(20px);
    height: em(16px);
    .toggle-line {
        display: block;
        height: em(4px);
        margin-bottom: em(2px);
        background-color: $w;
    }
}