.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: $f;
	height: $f;
	z-index: 9999;
	visibility: hidden;
	&-container {
		@include absfull;
		overflow: hidden;
		display: flex;
		align-items: center;
	}
	.menu, .form {
		width: $f;
		margin: auto;
		visibility: hidden;
		&.visible {
			visibility: visible;
		}
	}
	&.visible {
		visibility: visible;
	}
}

.menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: $w;
	a {
		@extend %subline;
		font-size: em(48px);
		line-height: percentage(57px/48px);
	}
	&-item {
		list-style-type: none;
	}
}