.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: $f;
	height: 0;
	z-index: 9998;
	overflow: hidden;
	transition: $speed height;
	ul {
		margin: 0;
	}
	li {
		list-style-type: none;
	}
	&-container {
		position: absolute;
		width: $f;
		left: 0;
		top: 0;
		height: 100vh;
		overflow: hidden;
		display: flex;
		align-items: center;
		transition: visibility $speed;
		visibility: hidden;
		transform: translate3d(0, -20%, 0);
		&.visible {
			visibility: visible;
			transition: visibility 0, transform $speed;
			transform: translate3d(0, 0%, 0);
		}
	}
	.menu, .form {
		width: $f;
		margin: auto;
	}
	.form {
		min-height: 100vh;
	}
	&.visible {
		height: 100vh;
	}
	.gradient {
		@include absfull;
		@include gradientAnim;
	}
	.close {
		opacity: 0;
		visibility: hidden;
		transition: $speed opacity, $speed visibility;
		z-index: 3;
	}
}

.menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: $w;
	a {
		@extend %subline;
		font-size: em(48px);
		line-height: percentage(57px/48px);
		text-transform: lowercase;
	}
	&-item {
		list-style-type: none;
	}
	.nav {
		transform: translate3d(-30%, 0, 0);
		opacity: 0;
		transition: $speed/2 opacity, $speed/2 transform;
		@include normalize_padding;
		padding-bottom: em(38px);
		.title {
			text-transform: uppercase;
			font-weight: bold;
			font-size: em(24px);
			line-height: percentage(57px/48px);
			padding-bottom: em(10px, 24px);
		}
		.modal-container.visible & {
			opacity: 1;
			transform: translate3d(0%, 0, 0);
			transition-delay: $speed;
		}
	}
}

#main-menu {
	padding-top: em(38px);
	.modal-container.visible & {
		transition-delay: $speed*1.5;
	}
}