.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: $f;
	height: 0;
	z-index: 9999;
	overflow: hidden;
	transition: $speed height;
	&-container {
		position: absolute;
		width: $f;
		left: 0;
		top: 0;
		height: 100vh;
		overflow: hidden;
		display: flex;
		align-items: center;
		transition: visibility $speed;
		&.visible {
			visibility: visible;
			transition-duration: 0;
		}
	}
	.menu, .form {
		width: $f;
		margin: auto;
	}
	&.visible {
		height: 100vh;
	}
	.gradient {
		@include absfull;
		@include gradientAnim;
	}
	.close {
		opacity: 0;
		visibility: hidden;
		transition: $speed opacity, $speed visibility;
		.modal-container.visible & {
			visibility: visible;
			opacity: 1;
			transition-delay: $speed;
		}
	}
}

.menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: $w;
	a {
		@extend %subline;
		font-size: em(48px);
		line-height: percentage(57px/48px);
	}
	&-item {
		list-style-type: none;
	}
	.nav {
		transform: translate3d(-30%, 0, 0);
		opacity: 0;
		transition: $speed/2 opacity, $speed/2 transform;
		.modal-container.visible & {
			opacity: 1;
			transform: translate3d(0%, 0, 0);
			transition-delay: $speed;
		}
	}
}