.nav-number {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow-left {
        position: relative;
        width: em(40px);
        height: em(40px);


    }

    .gallery_count {

    }

    .arrow-right, .arrow-left {
        cursor: pointer;
        position: relative;
        width: em(40px);
        height: em(40px);
        &:hover {
            .btn-line, .btn-arrow-up, .btn-arrow-down {
                background-color: $purple;
            }
        }
        .btn-line, .btn-arrow-up, .btn-arrow-down {
            background-color: $gray-dark;
            transition: background-color $speed;
        }


    }
}

.gallery-count {
    font-weight: 500;
    .current-slide {
        font-size: em(18px);
        color: $purple;
    }
}

.arrow-left {
    transform: scale(-1, 1);
}