.slider {
    position: relative;
}
.slider-wrapper {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .slider-item {
        width: 100%;
        flex: 0 0 auto;
    }
}
.slider-only-text {
    font-size: em(62px);
}

// CAROUSEL

.carousel {
    &-wrapper {
        overflow: hidden;
        flex-wrap: nowrap;
        display: flex;
    }
    &-item {
        height: 100vh;
        background-color: $b;
        flex: 0 0 auto;
        width: $f;
        &.alt {
            background-color: $purple;
        }
        @include breakpoint(640px) {
            width: $f/2;
        }
        @include breakpoint($bp) {
            [items="3"] & {
                width: $f/3;
            }
            [items="4"] & {
                width: $f/4;
            }
        }
    }
}