.nav-number {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow-left {
        position: relative;
        width: em(40px);
        height: em(40px);


    }

    .gallery_count {

    }

    .arrow-right {
        cursor: pointer;
        position: relative;
        width: em(40px);
        height: em(40px);
        &:hover {
            .btn-line, .btn-arrow-up, .btn-arrow-down {
                background-color: $purple;
            }
        }
        .btn-line, .btn-arrow-up, .btn-arrow-down {
            background-color: $gray-dark;
            transition: background-color $speed;
        }


    }
}