.slider {
    position: relative;
}
.slider-wrapper {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .slider-item {
        width: 100%;
        flex: 0 0 auto;
    }
}
.slider-only-text {
    font-size: em(62px);
}

// CAROUSEL

[ng-carousel] {   
    [class^="grid"], [class*=" grid"] {
        flex-wrap: nowrap;
    }
}
.carousel {
    &-wrapper {
        overflow: hidden;
        flex-wrap: nowrap;
    }
    &-item {
        height: 100vh;
        background-color: $b;
        &.alt {
            background-color: $purple;
        }
    }
}