
.nav-number {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: {
        top: em(25px/2);
        bottom: em(25px);
    }
    @include breakpoint(640px) {
        padding: {
            top: em(25px);
            bottom: em(50px);
        }
    }
    .arrow-prev {
        position: relative;
        width: em(40px);
        height: em(40px);
    }
    .arrow-next, .arrow-prev {
        cursor: pointer;
        position: relative;
        width: em(40px);
        height: em(40px);
        &:hover {
            .btn-line, .btn-arrow-up, .btn-arrow-down {
                background-color: $purple;
            }
        }
        .btn-line, .btn-arrow-up, .btn-arrow-down {
            background-color: $gray-dark;
            transition: background-color $speed;
        }
    }
    .bg-dark & {
        .arrow-next, .arrow-prev {
            &:hover {
                .btn-line, .btn-arrow-up, .btn-arrow-down {
                    background-color: $light;
                }
            }
            .btn-line, .btn-arrow-up, .btn-arrow-down {
                background-color: $w;
            }
        }
    }
}
.nav-arrow.emphasis {
    .btn {
        border-color: $purple;
        transition: border $speed;
        &:hover {
            border-color: $gray-dark;
            .btn-line, .btn-arrow-up, .btn-arrow-down {
                background-color: $gray-dark;
            }
            &:before, &:after {
                border-color: $purple;
            }
        }
        .btn-line, .btn-arrow-up, .btn-arrow-down {
            background-color: $purple;
            transition: background-color $speed;
        }

    }
    .bg-dark & {
        .btn {
            border-color: $w;
            &:hover {
                border-color: $gray-dark;
                .btn-line, .btn-arrow-up, .btn-arrow-down {
                    background-color: $w;
                }
                &:before, &:after {
                    border-color: $w;
                }
            }
            .btn-line, .btn-arrow-up, .btn-arrow-down {
                background-color: $w;
            }
        }
    }
}

.nav-arrow {
    display: flex;
    justify-content: center;
    padding-top: em(25px);
    .btn {
        cursor: pointer;
    }
    @include breakpoint(1000px) {    
        .btn-prev {
            left: em(50px)*-1;
        }
        .btn-next {
            right: em(50px)*-1;
        }
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translate3d(0,-50%,0);
        z-index: 2;
        justify-content: space-between;
    }
    .full & {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translate3d(0,-50%,0);
        z-index: 2;
        justify-content: space-between;
        .btn-prev {
            left: 10px;
            @include breakpoint(640px){
                left: em(25px);
            }
            @include breakpoint($bp){
                left: em(50px);
            }
        }
        .btn-next {
            right: 10px;
            @include breakpoint(640px){
                right: em(25px);
            }
            @include breakpoint($bp){
                right: em(50px);
            }
        }
    }
}

.gallery-count {
    font-weight: 500;
    .current-slide {
        font-size: em(16px);
        color: $purple;
    }
    .bg-dark & {
        color: $w;
        .current-slide {
            color: $light;
        }
    }
}

.arrow-prev {
    transform: scale(-1, 1);
}

.btn-prev {
    transform: scale(-1, 1);
}