.user-col {
    padding: 0 !important;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        .mask {
            transform: translateY(-100%);
            .user-details {
                transform: translateY(100%);
            }
        }
    }
    .user-image {
        width: auto;
        max-width: 100%;
        display: block;
        margin: 0;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .mask {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 100%;
        left: 0;
        transition: transform $speed;
        .user-details {
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $anthracite;
            color: $w;
            transition: transform $speed;
            &-name {
                font-size: em(18px);
                font-style: italic;
            }
        }
    }
}

[data-position="0"] {
    translate3d($f * -1, 0, 0);
}

[data-position="1"] {
    translate3d($f * 1, 0, 0);
}

[data-position="2"] {
    translate3d($f * 1, 0, 0);
}

[data-position="3"] {
    translate3d($f * 1, 0, 0);
}
