.video {
    transition: opacity .5s;
    position: relative;
    background-size: cover;
    background-position: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    .screenshot {
        width: 100%;
        height: auto;
        display: block;
    }
    .container-player {
        position: relative;
        max-width: $max-width;
        margin: 0 auto;
        box-shadow: 0px 0px em(45px) 0px rgba(0, 0, 0, 0.7);
        .player {
            display: block;
            width: 100%;
         }
        .clients {
            position: absolute;
            left: 0;
            bottom: 0;
            color: $w;
            @include normalize_padding;
        }
        .name, .company {
            padding-bottom: 0;
            line-height: $interline-title;
        }
        .name {
            font-weight: bold;
            text-transform: uppercase;
            font-size: vmin(36px);
            @include breakpoint(999px) {
                font-size: em(36px);
            }
        }
        .company {
            font-weight: normal;
            font-size: vmin(24px);
            @include breakpoint(999px) {
                font-size: em(24px);
            }
        }
    }

    &.full {
        margin: 0;
        .container-player {
            box-shadow: none;
        }
    }
    .play {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
        color: #fff;
        width: vmin(100px);
        height: vmin(100px);
        @include breakpoint(999px) {
            width: em(100px);
            height: em(100px);
        }
        border-radius: 50%;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity $speed;
        opacity: 0;
        &:after {
            content: "";
            width: 0;
            height: 0;    
            border: {
                width: em(19px) 0 em(19px) em(33px);
                color: transparent transparent transparent $w;
                style: solid;
            }
            left: em(5px);
            position: relative;
        }
        &.visible {
            opacity: 1;
        }
        &:hover {
            opacity: 0.3;
        }
    }
    &-foreground {
        transition: opacity $speed, visibility $speed;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        z-index: 2;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            &.visible {
                visibility: visible;
            }
        }
        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }
}

.title-video {
    font-style: italic;
    font-weight: normal;
    top: 0%;
    color: $w;
    left: 50%;
    font-size: em(32px);
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    text-shadow: 0 0 5px transparentize($b, .65);
    padding-bottom: 0;
    &[ng-sm] {
        .desktop & {
            transform: translate3d(-50%, 120%, 0);
        }
    }
}

.container-cornice {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: percentage(68px/972px);
    z-index: 2;
    max-width: $max-width;
    margin: 0 auto;
    @include breakpoint(1000px) {
        height: 70px;
        padding-top: 0;
    };
    svg {
        @include absfull;
    }
}

.controls {
    position: absolute;
    bottom: 0;
    width: $f;
    .buttons {
        height: 25px;
        width: 100px;
        border-radius: 25px;
        @include gradient;
        margin: 0 auto em(35px);
        display: flex;
        position: relative;
        z-index: 1;
        overflow: hidden;
        box-shadow: 0 5px 10px transparentize($b, .75);
        transition: $speed opacity;
        opacity: .2;
    }
    .play-pause, .fs {
        width: $f/2;
        transition: background-color $speed;
        position: relative;
        &:hover {
            background-color: $w;
        }
        &:before, &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
        }
    }
    .play-pause {
        &:before, &:after {
            transition: opacity $speed;
        }
        &:before {
            width: 8px;
            height: 10px;
            border: {
                left: 2px solid $w;
                right: 2px solid $w;
            }
            content: '';
            opacity: 0;
        }
        &:after {
            border-style: solid;
            border-width: 5px 0 5px 10px;
            border-color: transparent transparent transparent $w;
            content: '';
        }
        &.playing {
            &:before {
                opacity: 1;
            }
            &:after {
                opacity: 0;
            }
        }
        &:hover {
            &:before {
                border-left-color: $purple;
                border-right-color: $purple;
            }
            &:after {
                border-left-color: $purple;
            }
        }
    }
    .stop {
        border: {
            left: 1px solid $violet;
            right: 1px solid $violet;
        }
        &:before {
            width: 10px;
            height: 10px;
            background-color: $w;
            content: '';
        }
        &:hover {
            &:before {
                background-color: $purple;
            }
        }
    }
    .fs {
        border-left: 1px solid $violet;
        &:before, &:after {
            width: 5px;
            height: 5px;
            content: '';
        }
        &:before {
            border-top: 2px solid $w;
            border-left: 2px solid $w;
            margin: ((5px/2)*-1) 0 0 ((5px/2)*-1);
        }
        &:after {
            border-bottom: 2px solid $w;
            border-right: 2px solid $w;
            margin: (5px/2) 0 0 (5px/2);
        }
        &:hover {
            &:before, &:after {
                border-color: $purple;
            }
        }
    }
    .status-bar {
        height: 2px;
        transition: height $speed;
        position: relative;
        &:after {
            @include absfull;
            content: '';
            z-index: 3;
        }
    }
    &:hover {
        .status-bar {
            height: 10px;
        }
        .buttons {
            opacity: 1;
        }
    }
    .progress {
        &-bar, &-mask {
            @include absfull;
        }
        &-bar {
            @include gradient;
        }
        &-mask {
            background-color: $anthracite;
            left: auto;
            right: 0;
        }
    }
    .time {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 10px 5px;
        font-size: 12px;
        color: $w;
        font-weight: 500;
        text-transform: uppercase;
        transition: transform $speed;
        transform: translate3d(0,$f*-1,0);
        &.invert {
            transform: translate3d($f*-1,$f*-1,0);

        }
    }
}
