.footer {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: em(90px, 12px);
    text-align: center;
    background-color: $w;
    .link-cookie {
        color: $purple;
        font-weight: bold;
    }
    .home & {
        padding-bottom: 10px;
    }
}

.cat {
    @include normalize_padding;
    overflow: hidden;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
    color: $w;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: $w;
    }
    @include gradient;
    &-text {
        padding-right: em(15px);
    }
    .btn {
        margin-top: em(15px);
        margin-bottom: em(15px);
    }
}
