footer {
    .intestazione {
        padding-top: em(30px);
        padding-bottom: em(30px);
        text-align: center;
        .link-cookie {
            color: $purple;
            font-weight: bold;
        }
    }
    .sub-footer {
        color: $w;
        display: flex;
        align-items: center;
        justify-content: center;
        &-text {
            padding-right: em(15px);
        }
        .btn {
            margin-top: em(15px);
            margin-bottom: em(15px);
        }
    }
}
