.footer {
    font-size: em(12px);
    padding-top: em(30px, 12px);
    padding-bottom: em(30px, 12px);
    text-align: center;
    .link-cookie {
        color: $purple;
        font-weight: bold;
    }
}

.cat {
    color: $w;
    display: flex;
    align-items: center;
    justify-content: center;
    &-text {
        padding-right: em(15px);
    }
    .btn {
        margin-top: em(15px);
        margin-bottom: em(15px);
    }
}
