.page-header {
    position: relative;
    min-height: 110vh;
    .gradient {
        @include absfull;
        @include gradient;
        @include gradientAnim;
    }
    .cover {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        background-position: 50%;
    }
}

.container-text-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .text-header {
        display: flex;
        flex-direction: column;
    }
}
