.page-header {
    position: relative;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    .gradient {
        @include absfull;
        @include gradient;
        @include gradientAnim;
    }
    .cover {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include absfull;
        &:before {
            @include absfull;
            opacity: .25;
            background-color: $b;
            content: '';
        }
    }
}

.container-text-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .text-header {
        display: flex;
        flex-direction: column;
    }
}
