.page-header {
    position: relative;
    min-height: 110vh;
    .gradient {
        @include absfull;
        @include gradient;
    }
}

.container-text-header {
    display: flex;
    min-height: 100vh;
}