.home {
	overflow: hidden;
	height: 100vh;
	&-page {
		padding-top: 100vh;
	}
	.logo, .btn-menu {
		position: fixed;
	}
	&-title {
		font-size: vmin(72px);
		color: $w;
		line-height: $interline-title;
		text-align: center;
		font-weight: normal;
		margin: auto;
		transition: $speed transform, $speed opacity;
		.scrolled & {
			transform: translate3d(0, 0%, 0);
			opacity: 0;
		}
		&-row {
			display: inline-block;
			overflow: hidden;
			position: relative;
		}
		&-sentence {
			transition: transform $speed $speed;
			color: $w !important;
			display: inline-block;
			transform: translate3d(0%, -120%, 0) skewY(2deg);
			.wf-active &, .wf-inactive & {
				transform: translate3d(0%, 0%, 0) skewY(0deg);
			}
			.wf-loading & {
				transform: translate3d(0%, -120%, 0) skewY(2deg);
			}
		}
		a {
			font-weight: bold;
			@extend %subline;
		}
	}
	&-container {
		height: 100vh;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 10;
		transition: $speed transform, box-shadow $speed/2;
		.scrolled & {
			transform: translate3d(0, -100%, 0);
			box-shadow: 0 -5px 10px transparentize($b, .65);
		}
		.carousel {
			flex: 20;
			display: flex;
			&-container, &-wrapper {
				flex: 0 0 auto;
			}
			&-container {
				width: $f;
				display: flex;
			}
		}
	}
	.page-header {
		position: fixed;
		top: 0;
		width: $f;
		left: 0;
		min-height: 0;
		height: 100vh;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		padding-top: em(100px);
		padding-bottom: em(100px);
		@include normalize_padding;
		.btn {
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translate3d(-50%, 0, 0);
		}
	}
}