.home {
	&-container {
		height: 100vh;
		display: flex;
		flex-direction: column;
		.carousel {
			flex: 20;
			display: flex;
			&-container, &-wrapper {
				flex: 0 0 auto;
			}
			&-container {
				width: $f;
				display: flex;
			}
		}
	}
}