.blog, .category {
	.entry {
		&-figure, &-content {
			flex: 0 0 auto;
			width: $f;
		}
		&-figure {
			margin: 0;
			@include breakpoint($bp) {
				width: $f/3;
				background: {
					size: cover;
					position: center;
					repeat: no-repeat;
				}
				img {
					display: none;
				}
			}
		}
		&-content {
			@include normalize_padding;
			@include breakpoint($bp) {
				width: ( $f/3 ) * 2;
			}
			a {
				color: $purple;
				&:hover {
					color: $violet;
				}
			}
		}
		&-summary {
			padding-top: em(50px);
		}
		&-title {
			font-size: em(36px);
			padding-bottom: 0;
			a {
				color: $gray;
				&:hover {
					color: $purple;
				}
			}
		}
		&-time {
			font-size: em(14px);
			padding-top: em(10px, 14px);
		}
	}
	.type-post {
		display: flex;
		flex-wrap: wrap;
		&.alt {
			@include breakpoint($bp) {
				.entry-content {
					order: 0;
					background-color: $light;
				}
				.entry-figure {
					order: 1;
				}
			}
		}
	}
}