.blog, .category {
	.entry {
		&-figure, &-content {
			flex: 0 0 auto;
			width: $f;
		}
		&-figure {
			margin: 0;
			@include breakpoint($bp) {
				width: $f/3;
				background: {
					size: cover;
					position: center;
					repeat: no-repeat;
				}
				img {
					display: none;
				}
			}
		}
		&-content {
			@include normalize_padding;
			@include breakpoint($bp) {
				width: ( $f/3 ) * 2;
			}
			a {
				color: $purple;
				&:hover {
					color: $violet;
				}
			}
		}
		&-summary {
			padding-top: em(50px);
		}
		&-title {
			font-size: em(36px);
			padding-bottom: 0;
			a {
				color: $gray;
				&:hover {
					color: $purple;
				}
			}
		}
		&-time {
			font-size: em(14px);
			padding-top: em(20px, 14px);
		}
	}
	.type-post {
		display: flex;
		flex-wrap: wrap;
		&.alt {
			@include breakpoint($bp) {
				.entry-content {
					order: 0;
					background-color: $light;
				}
				.entry-figure {
					order: 1;
				}
			}
		}
		.btn-complete {
			margin-top: em(25px);
		}
	}
}

.single {
    .type-post {
        background-color: $w;
        position: relative;
        z-index: 10;
    }
	.page-header {
		.title {
			padding-bottom: 0;
		}
	}
	.entry-content {
		max-width: $max-width;
		margin: 0 auto;
		@include normalize_padding;
		p, ul, ol {
            padding-bottom: em(25px);
        }
        p:nth-last-of-type(1) {
            padding-bottom: 0;
        }
        ul, ol {
            li {
                padding:{ 
                    top: em(10px);
                };
                &:nth-child(1) {
                    padding-top: 0;
                }
            }
        }
        img {
            display: block;
            max-width: $f;
            height: auto !important;
            margin: 0 auto;
        }
        ul {
            li {
                position: relative;
                padding-left: em(25px);

                &:before {
                   	position: absolute;
                   	left: 0;
                   	background-color: $violet;
                    content: '';
                    border-radius: $f;
                    top: 0.8em;
                    width: em(8px);
                    height: em(8px);
                }
                &:nth-child(1) {
                    &:before {
                        top: em(6px);
                    }
                }
            }
        }
        ol {
            margin-left: em(25px + (10px/2));
            counter: section;
            li {
                counter-increment: section;
                content: counter(section) ".";
            }
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            text-transform: uppercase;
        }
        h2 {
            font-size: em(36px);
            padding-bottom: em(10px, 36px);
        }
        h3, h4, h5 {
            font-size: em(24px);
            padding-bottom: em(10px, 24px);
        }
        h6 {
            font-size: em(18px);
            padding-bottom: em(10px, 18px);
        }
        a {
            color: $purple;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
                color: $violet;
            }
        }
        blockquote {
        	margin: 0;
        	position: relative;
            padding: 0 em(25px) em(25px);
            font: {
                style: italic;
                size: em(25px);
            }
        }
        .gravatar {
            .avatar {
                margin-right: 0;
                margin-left: em(25px);
            }
        }
	}
}

.post-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include normalize_padding;
    text-transform: uppercase;
    a {
        display: flex;
        align-items: center;
    }
    .btn {
        border-color: $purple;
        transition: border $speed;
        margin-left: em(20px);
        &:hover {
            border-color: $gray-dark;
            .btn-line, .btn-arrow-up, .btn-arrow-down {
                background-color: $gray-dark;
            }
            &:before, &:after {
                border-color: $purple;
            }
        }
        .btn-line, .btn-arrow-up, .btn-arrow-down {
            background-color: $purple;
            transition: background-color $speed;
        }
        &.btn-prev {
            transform: scaleX(-1);
        }
    }
}