/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'din';
  src: url("../fonts/din-webfont.eot");
  src: url("../fonts/din-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din-webfont.woff2") format("woff2"), url("../fonts/din-webfont.woff") format("woff"), url("../fonts/din-webfont.ttf") format("truetype"), url("../fonts/din-webfont.svg#dinregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'din';
  src: url("../fonts/din_bold-webfont.eot");
  src: url("../fonts/din_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din_bold-webfont.woff2") format("woff2"), url("../fonts/din_bold-webfont.woff") format("woff"), url("../fonts/din_bold-webfont.ttf") format("truetype"), url("../fonts/din_bold-webfont.svg#dinbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'din';
  src: url("../fonts/din_medium-webfont.eot");
  src: url("../fonts/din_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din_medium-webfont.woff2") format("woff2"), url("../fonts/din_medium-webfont.woff") format("woff"), url("../fonts/din_medium-webfont.ttf") format("truetype"), url("../fonts/din_medium-webfont.svg#din_mediumregular") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'din';
  src: url("../fonts/DINPro-BoldItalic.eot");
  src: url("../fonts/DINPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-BoldItalic.woff2") format("woff2"), url("../fonts/DINPro-BoldItalic.woff") format("woff"), url("../fonts/DINPro-BoldItalic.svg#DINPro-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'din';
  src: url("../fonts/DINPro-Italic.eot");
  src: url("../fonts/DINPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Italic.woff2") format("woff2"), url("../fonts/DINPro-Italic.woff") format("woff"), url("../fonts/DINPro-Italic.svg#DINPro-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'din';
  src: url("./fonts/DINPro-MediumItalic.eot");
  src: url("./fonts/DINPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/DINPro-MediumItalic.woff2") format("woff2"), url("./fonts/DINPro-MediumItalic.woff") format("woff"), url("./fonts/DINPro-MediumItalic.svg#DINPro-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
*, *:after, *:before {
  box-sizing: border-box !important;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-size: 12px;
  color: #5a5a5a;
  margin: 0;
  font-family: "din", sans-serif;
}
@media screen and (min-width: 40em) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 64em) {
  body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  transition: color 0.5s;
}
a a {
  color: #80217e;
  font-weight: bold;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 119.44444%;
}

p {
  line-height: 166.66667%;
}
.content p {
  font-size: 1.125em;
  color: #6f6f6e;
  /*      padding-bottom: em(50px, 18px);*/
}
.content p:nth-last-child(1), .content p:nth-last-of-type(1) {
  padding-bottom: 0;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

.title, .subtitle {
  position: relative;
}

.title {
  font-weight: normal;
  line-height: 119.44444%;
}
.title span {
  font-weight: 500;
}
.bg-dark .title {
  color: #fff;
}
.page-header .title {
  line-height: 119.44444%;
  text-align: center;
  color: #fff;
}
.title-registry {
  font-size: 1.125em;
}
.title-minus {
  font-size: 1.25em;
  text-transform: uppercase;
  font-style: normal;
  padding-bottom: 1em;
}
.title-normal {
  font-size: 2.25em;
  text-transform: uppercase;
  font-style: normal;
}
.title-important {
  font-size: 4.5em;
  text-transform: uppercase;
  font-style: normal;
}

.page-header .subtitle {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 119.44444%;
  color: #fff;
  text-align: center;
}

.bg-white {
  background-color: #fff;
}

.alternate {
  background-color: #f7f7f7;
}

.bg-dark {
  background-color: #5a5a5a;
}

.bg-gradient {
  background-image: linear-gradient(141deg, #aa047c, #80217e);
}

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.top-v {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-v {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.emphasis {
  color: #80217e;
}

.slider-only-text {
  line-height: 166.66667%;
}

.number {
  font-size: 3em;
}
.number strong {
  font-size: 1.45833em;
  color: #80217e;
  font-style: italic;
}

.menu a, .home-title a {
  color: #fff;
  position: relative;
  display: inline-block;
}
.menu a:after, .home-title a:after {
  position: absolute;
  height: 2px;
  left: 0%;
  right: 100%;
  bottom: 0;
  background-color: #fff;
  content: '';
  transition: left 0.5s, right 0.5s 0.5s;
}
.menu a:hover:after, .home-title a:hover:after {
  left: 100%;
  right: 0%;
  transition: left 0.5s 0.5s, right 0.5s;
}

.permalink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

[ng-click], [ng-mouseenter] {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  min-width: 3.125em;
  position: relative;
  min-height: 3.125em;
  color: white;
  border: 2px solid white;
  border-radius: 100%;
  display: block;
  text-align: center;
}
.btn-line, .btn-arrow-up, .btn-arrow-down {
  position: absolute;
  top: 50%;
  background-color: #fff;
}
.btn-line {
  left: 20%;
  width: 60%;
  height: 2px;
  margin-top: -1px;
}
.btn-line.up {
  transform: rotate(-90deg);
}
.btn-line.down {
  transform: rotate(90deg);
}
.btn-arrow-up, .btn-arrow-down {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 0.4375em;
  height: 2px;
  background-color: #fff;
}
.btn-arrow-up {
  transform: rotate(45deg);
  transform-origin: right top;
}
.btn-arrow-down {
  transform: rotate(-45deg);
  transform-origin: right bottom;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 50%;
}
.btn:hover:before, .btn:hover:after, .btn-send:hover .btn:before, .btn-send:hover .btn:after, .btn-complete:hover .btn:before, .btn-complete:hover .btn:after, .carousel-item:hover .btn:before, .carousel-item:hover .btn:after {
  border-color: #fff;
  animation: pulse 2s infinite linear;
}
.btn:hover:after, .btn-send:hover .btn:after, .btn-complete:hover .btn:after, .carousel-item:hover .btn:after {
  animation-delay: 0.4s;
}
.btn-text {
  font-size: 18px;
  padding: 0 1.11111em;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-text:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}
.btn.close {
  position: absolute;
  right: 3.125em;
  top: 3.125em;
  opacity: 1;
}
.btn.close .btn-line {
  transition: transform 0.5s, opacity 0.5s;
}
.visible .btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg);
}
.visible .btn.close .btn-line:nth-child(2) {
  transform: rotate(-45deg);
}
.visible .btn.close .btn-line:hover:nth-child(1) {
  transform: rotate(0deg);
}
.visible .btn.close .btn-line:hover:nth-child(2) {
  transform: rotate(0deg);
}
.btn.close .visible {
  opacity: 1;
}

.btn-complete {
  display: inline-flex;
  align-items: center;
}
.btn-complete .label {
  padding-right: 1.25em;
  font-weight: 500;
}
.btn-complete .btn {
  cursor: pointer;
  border-color: #80217e;
  transition: border 0.5s;
}
.btn-complete .btn:hover:before, .btn-complete .btn:hover:after {
  border-color: #80217e;
}
.btn-complete .btn .btn-line, .btn-complete .btn .btn-arrow-up, .btn-complete .btn .btn-arrow-down {
  background-color: #80217e;
  transition: background-color 0.5s;
}

@keyframes pulse {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  50% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.quote {
  text-align: center;
  font-size: 2.25em;
  font-style: italic;
  margin: 0;
  padding-top: 0.92593em;
  padding-bottom: 0.92593em;
}
@media screen and (min-width: 40em) {
  .quote {
    padding-top: 1.6129em;
    padding-bottom: 1.6129em;
  }
}
@media screen and (min-width: 53.125em) {
  .quote {
    padding-top: 4.16667em;
    padding-bottom: 4.16667em;
  }
}
.quote .marks {
  color: #80217e;
  font-size: 2em;
}

.bg-gradient .quote, .bg-dark .quote {
  color: #fff;
}
.bg-gradient .quote .marks, .bg-dark .quote .marks {
  color: #fff;
}

input[type="email"], input[type="text"], input[type="tel"], textarea {
  background-color: #fff;
  border: 0;
  width: 100%;
  font-size: 18px;
  color: #6f6f6e;
  padding: 0 1.11111em;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input[type="email"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, textarea:-moz-placeholder {
  font-size: 1em;
  font-family: "din", sans-serif;
  color: #6f6f6e;
}
input[type="email"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 1em;
  font-family: "din", sans-serif;
  color: #6f6f6e;
}
input[type="email"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 1em;
  font-family: "din", sans-serif;
  color: #6f6f6e;
}
input[type="email"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 1em;
  font-family: "din", sans-serif;
  color: #6f6f6e;
}
input.ng-invalid.ng-touched[type="email"], input.ng-invalid.ng-touched[type="text"], input.ng-invalid.ng-touched[type="tel"], textarea.ng-invalid.ng-touched {
  color: #d0043c;
  background-color: white;
}
input.ng-invalid.ng-touched[type="email"]:-moz-placeholder, input.ng-invalid.ng-touched[type="text"]:-moz-placeholder, input.ng-invalid.ng-touched[type="tel"]:-moz-placeholder, textarea.ng-invalid.ng-touched:-moz-placeholder {
  color: #d0043c;
}
input.ng-invalid.ng-touched[type="email"]::-moz-placeholder, input.ng-invalid.ng-touched[type="text"]::-moz-placeholder, input.ng-invalid.ng-touched[type="tel"]::-moz-placeholder, textarea.ng-invalid.ng-touched::-moz-placeholder {
  color: #d0043c;
}
input.ng-invalid.ng-touched[type="email"]:-ms-input-placeholder, input.ng-invalid.ng-touched[type="text"]:-ms-input-placeholder, input.ng-invalid.ng-touched[type="tel"]:-ms-input-placeholder, textarea.ng-invalid.ng-touched:-ms-input-placeholder {
  color: #d0043c;
}
input.ng-invalid.ng-touched[type="email"]::-webkit-input-placeholder, input.ng-invalid.ng-touched[type="text"]::-webkit-input-placeholder, input.ng-invalid.ng-touched[type="tel"]::-webkit-input-placeholder, textarea.ng-invalid.ng-touched::-webkit-input-placeholder {
  color: #d0043c;
}

input[type="email"], input[type="text"], input[type="tel"] {
  height: 2.77778em;
  line-height: 2.77778em;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + .form-label {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
input[type="checkbox"] + .form-label .check {
  border-radius: 2.08333em;
  width: 4.16667em;
  height: 2.08333em;
  font-size: 12px;
  color: #6f6f6e;
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  transition: color 0.5s;
  margin-right: 2.08333em;
}
input[type="checkbox"] + .form-label .check-text {
  flex: 1;
}
input[type="checkbox"] + .form-label .cursor {
  border-radius: 1.41667em;
  height: 1.41667em;
  top: 0.33333em;
  left: 0.33333em;
  right: 2.41667em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  position: absolute;
  display: block;
  overflow: hidden;
  z-index: 1;
  transition: left 0.25s, right 0.25s 0.25s;
}
input[type="checkbox"] + .form-label .cursor:before, input[type="checkbox"] + .form-label .cursor:after {
  content: '';
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
input[type="checkbox"] + .form-label .cursor:before {
  background: linear-gradient(to bottom, #6f6f6e, #5a5a5a);
}
input[type="checkbox"] + .form-label .cursor:after {
  opacity: 0;
  background: linear-gradient(to bottom, #aa047c, #80217e);
}
input[type="checkbox"]:checked + .form-label .check {
  color: #aa047c;
}
input[type="checkbox"]:checked + .form-label .cursor {
  transition: right 0.25s, left 0.25s 0.25s;
  right: 0.33333em;
  left: 2.41667em;
}
input[type="checkbox"]:checked + .form-label .cursor:after {
  opacity: 1;
}

textarea {
  padding-top: 1.25em;
  line-height: 1.2;
}
.modal-container textarea {
  height: 6.94444em;
}

.form {
  display: flex;
}
@media screen and (min-width: 53.125em) {
  .form-col {
    width: 50%;
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}
.form-content, .form-inputs {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 40em) {
  .form-content, .form-inputs {
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}
.form-content {
  background-color: #f7f7f7;
}
@media screen and (min-width: 53.125em) {
  .form-content {
    width: 33.33333%;
  }
}
.form-content a {
  color: #80217e;
}
.form-content a:hover {
  color: #aa047c;
}
.form-inputs {
  background-color: #333132;
  color: #f7f7f7;
}
@media screen and (min-width: 53.125em) {
  .form-inputs {
    width: 66.66667%;
  }
}
.form-row {
  padding-bottom: 1.5625em;
}
.form-label-text {
  font-size: 12px;
}

.acceptance {
  padding-top: 1.5625em;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 53.125em) {
  .acceptance {
    padding-top: 3.125em;
  }
}
@media screen and (min-width: 40em) {
  .acceptance {
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}

.btn-send {
  border-radius: 1.5625em;
  color: #fff;
  font-size: 18px;
  height: 2.77778em;
  line-height: 2.77778em;
  overflow: hidden;
  position: relative;
  border: 0;
  width: 100%;
  text-transform: uppercase;
  display: block;
  z-index: 1;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s, background-position 0.5s;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: linear-gradient(141deg, #aa047c, #80217e);
}
.btn-send .btn {
  position: absolute;
  right: 0.16667em;
  top: 0.16667em;
  min-width: 2.44444em;
  min-height: 2.44444em;
}
.btn-send:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-position: 50% 100%;
}

[class^="grid"], [class*=" grid"] {
  display: flex;
  flex-wrap: wrap;
}
[class^="grid"] [class^="col"], [class^="grid"] [class*=" col"], [class*=" grid"] [class^="col"], [class*=" grid"] [class*=" col"] {
  position: relative;
  /*   @include normalize_padding;*/
  /* padding-bottom: em(30px);
   padding-top: em(30px);
   @include breakpoint(640px) {
       padding-bottom: em(75px);
       padding-top: em(75px);
   }
   @include breakpoint($bp) {
       padding-bottom: em(150px);
       padding-top: em(150px);
   }*/
  flex: 0 0 auto;
  width: 100%;
}

@media screen and (min-width: 53.125em) {
  .grid-12 .col-1 {
    width: 8.33333%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-2 {
    width: 16.66667%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-3 {
    width: 25%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-4 {
    width: 33.33333%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-5 {
    width: 41.66667%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-6 {
    width: 50%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-7 {
    width: 58.33333%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-8 {
    width: 66.66667%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-9 {
    width: 75%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-10 {
    width: 83.33333%;
  }
}
@media screen and (min-width: 53.125em) {
  .grid-12 .col-11 {
    width: 91.66667%;
  }
}

.grid-cols {
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}
.grid-cols [class^="col"], .grid-cols [class*=" col"] {
  padding-left: 0;
  padding-right: 0;
}
.grid-cols-full-h {
  padding-padding: 0;
  padding-bottom: 2.5em;
}
@media screen and (min-width: 53.125em) {
  .grid-cols-full-h {
    padding-bottom: 5em;
  }
}
.grid-cols-full-h [class^="col"], .grid-cols-full-h [class*=" col"] {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  position: relative;
  max-height: calc(100vh - 4.375em);
}
.grid-cols-full-h [class^="col"]:before, .grid-cols-full-h [class*=" col"]:before {
  content: '';
  display: block;
  padding-top: 57.14286%;
}
.grid-cols-full-h [class^="col"] .video-cover, .grid-cols-full-h [class^="col"] .figure.full, .grid-cols-full-h [class*=" col"] .video-cover, .grid-cols-full-h [class*=" col"] .figure.full {
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
}
.grid-cols-full-h [class^="col"] .figure img, .grid-cols-full-h [class*=" col"] .figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: auto !important;
  height: auto !important;
  min-height: 100%;
  min-width: 100%;
}

.row {
  padding-top: 1.5625em;
  padding-bottom: 1.5625em;
}
@media screen and (min-width: 40em) {
  .row {
    padding-top: 3.125em;
    padding-bottom: 3.125em;
  }
}
.row-btm {
  padding-top: 2.34375em;
  padding-bottom: 2.34375em;
}
@media screen and (min-width: 40em) {
  .row-btm {
    padding-top: 4.6875em;
    padding-bottom: 2.34375em;
  }
}
@media screen and (min-width: 53.125em) {
  .row-btm {
    padding-top: 9.375em;
    padding-bottom: 2.34375em;
  }
}
.row-top {
  padding-top: 2.34375em;
  padding-bottom: 2.34375em;
}
@media screen and (min-width: 40em) {
  .row-top {
    padding-top: 2.34375em;
    padding-bottom: 4.6875em;
  }
}
@media screen and (min-width: 53.125em) {
  .row-top {
    padding-top: 2.34375em;
    padding-bottom: 9.375em;
  }
}
.row-md {
  padding-top: 2.34375em;
  padding-bottom: 2.34375em;
}
@media screen and (min-width: 53.125em) {
  .row-md {
    padding-top: 4.6875em;
    padding-bottom: 4.6875em;
  }
}
.row-md-btm {
  padding-bottom: 2.34375em;
  padding-top: 2.34375em;
}
@media screen and (min-width: 53.125em) {
  .row-md-btm {
    padding-bottom: 4.6875em;
    padding-top: 9.375em;
  }
}
.row-md-top {
  padding-top: 2.34375em;
  padding-bottom: 2.34375em;
}
@media screen and (min-width: 53.125em) {
  .row-md-top {
    padding-top: 4.6875em;
    padding-bottom: 9.375em;
  }
}
.row-lg {
  padding-top: 2.34375em;
  padding-bottom: 2.34375em;
}
@media screen and (min-width: 40em) {
  .row-lg {
    padding-top: 4.6875em;
    padding-bottom: 4.6875em;
  }
}
@media screen and (min-width: 53.125em) {
  .row-lg {
    padding-top: 9.375em;
    padding-bottom: 9.375em;
  }
}
.row-lg-btm {
  padding-bottom: 2.34375em;
}
@media screen and (min-width: 40em) {
  .row-lg-btm {
    padding-bottom: 4.6875em;
  }
}
@media screen and (min-width: 53.125em) {
  .row-lg-btm {
    padding-bottom: 9.375em;
  }
}
.row-lg-top {
  padding-top: 2.34375em;
}
@media screen and (min-width: 40em) {
  .row-lg-top {
    padding-top: 4.6875em;
  }
}
@media screen and (min-width: 53.125em) {
  .row-lg-top {
    padding-top: 9.375em;
  }
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 40em) {
  .content {
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}
@media screen and (min-width: 53.125em) {
  .content {
    padding-left: 3.125em;
    padding-right: 3.125em;
  }
}

.figure {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
}
.figure img {
  width: 100%;
  height: auto;
  display: block;
}
.figure.full {
  padding: 0;
  margin: 0;
}

.image-grid {
  margin: 0;
}
.image-grid img {
  display: block;
  width: 100%;
  height: auto;
}

.col-jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.col-jobs .job-title {
  font-size: 1.375em;
  text-transform: uppercase;
  line-height: 119.44444%;
}
.col-jobs p {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}
.col-jobs .job-content {
  position: absolute;
  width: 100vw;
  left: 0;
  top: auto;
  display: none;
}

@keyframes toggle {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes gradientAnim {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
.manifest-item {
  display: flex;
  padding-bottom: 2.5em;
}
.manifest-item-number {
  font-size: 2.5em;
  width: 60px;
  flex: 0 0 auto;
  color: #80217e;
  position: relative;
  line-height: 1;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  /* padding-right: 10px;
   margin-right: 40px;*/
}
.manifest-item-number:after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #5a5a5a;
  position: absolute;
  right: 20px;
  top: 0.75em;
}
.manifest-item-label {
  text-align: left;
}

.logo {
  position: absolute;
  font-size: 1em;
  width: calc(10px + 9.375em);
  background-position: 10px center;
  top: 2.5em;
  height: 2.5em;
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 120%;
  z-index: 9999;
  transition: transform 0.5s;
  transform: translate3d(-100%, 0, 0);
}
@media screen and (min-width: 40em) {
  .logo {
    width: 10.9375em;
    background-position: 1.5625em center;
  }
}
@media screen and (min-width: 53.125em) {
  .logo {
    width: 12.5em;
    background-position: 3.125em center;
  }
}
.logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wf-active .logo, .wf-inactive .logo {
  transform: translate3d(0%, 0, 0);
}
.wf-loading .logo {
  transform: translate3d(-100%, 0, 0);
}

.btn-menu {
  height: 2.5em;
  display: flex;
  align-items: center;
  color: #fff;
  top: 2.5em;
  position: absolute;
  right: 0;
  z-index: 9999;
  transition: transform 0.5s;
  transform: translate3d(100%, 0, 0);
}
.wf-active .btn-menu, .wf-inactive .btn-menu {
  transform: translate3d(0%, 0, 0);
}
.wf-loading .btn-menu {
  transform: translate3d(100%, 0, 0);
}
.btn-menu-text {
  font-size: 1.125em;
  padding-right: 1.11111em;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-menu-text {
  transition: color 0.5s, transform 0.5s;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.btn-menu-text .btn-menu-text-content:nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.btn-menu-text .btn-menu-text-content:nth-child(2) .letter {
  opacity: 0;
}
.btn-menu-text-content .letter {
  display: inline-block;
  transition: transform 0.5s, opacity 0.5s;
}
.btn-menu-text-content .letter:nth-child(1) {
  transition-delay: 0.125s;
}
.btn-menu-text-content .letter:nth-child(2) {
  transition-delay: 0.25s;
}
.btn-menu-text-content .letter:nth-child(3) {
  transition-delay: 0.375s;
}
.btn-menu-text-content .letter:nth-child(4) {
  transition-delay: 0.5s;
}
.btn-menu:hover .toggle .toggle-line {
  animation: toggle .5s 1 reverse forwards;
}
.btn-menu:hover .toggle .toggle-line:nth-child(2) {
  animation-delay: 0.125s;
}
.btn-menu:hover .toggle .toggle-line:nth-child(3) {
  animation-delay: 0.25s;
}
.btn-menu:hover .letter {
  transform: translate3d(0, -100%, 0);
}
.btn-menu:hover .btn-menu-text .btn-menu-text-content:nth-child(1) .letter {
  opacity: 0;
}
.btn-menu:hover .btn-menu-text .btn-menu-text-content:nth-child(2) .letter {
  opacity: 1;
}

.toggle {
  width: 3.125em;
  height: 24px;
}
.toggle-line {
  display: block;
  height: 4px;
  margin-bottom: 6px;
  background-color: #fff;
  transform-origin: right center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.modal-container.visible {
  visibility: visible;
}
.modal .menu, .modal .form {
  width: 100%;
  margin: auto;
  visibility: hidden;
}
.modal.visible {
  visibility: visible;
}
.modal .gradient {
  border-radius: 100%;
  width: 400%;
  height: 0;
  padding-top: 400%;
  top: -100%;
  right: -100%;
  transform: scale(0);
  background-image: linear-gradient(141deg, #aa047c, #80217e, #df00d2, #80217e);
  animation: gradientAnim 15s ease infinite;
  background-size: 300% 300%;
}
.modal-container.visible .modal .gradient {
  transform: scale(1);
}
.modal .close {
  opacity: 0;
  visibility: hidden;
}
.modal-container.visible .modal .close {
  visibility: visible;
  opacity: 1;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}
.menu a {
  font-size: 3em;
  line-height: 118.75%;
}
.menu-item {
  list-style-type: none;
}
.menu .nav {
  transform: translate3d(-30%, 0, 0);
  opacity: 0;
}
.modal-container.visible .menu .nav {
  opacity: 1;
  transform: translate3d(0%, 0, 0);
}

.nav-number {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-number .arrow-prev {
  position: relative;
  width: 2.5em;
  height: 2.5em;
}
.nav-number .arrow-next, .nav-number .arrow-prev {
  cursor: pointer;
  position: relative;
  width: 2.5em;
  height: 2.5em;
}
.nav-number .arrow-next:hover .btn-line, .nav-number .arrow-next:hover .btn-arrow-up, .nav-number .arrow-next:hover .btn-arrow-down, .nav-number .arrow-prev:hover .btn-line, .nav-number .arrow-prev:hover .btn-arrow-up, .nav-number .arrow-prev:hover .btn-arrow-down {
  background-color: #80217e;
}
.nav-number .arrow-next .btn-line, .nav-number .arrow-next .btn-arrow-up, .nav-number .arrow-next .btn-arrow-down, .nav-number .arrow-prev .btn-line, .nav-number .arrow-prev .btn-arrow-up, .nav-number .arrow-prev .btn-arrow-down {
  background-color: #5a5a5a;
  transition: background-color 0.5s;
}

.nav-arrow.emphasis .btn {
  border-color: #80217e;
  transition: border 0.5s;
}
.nav-arrow.emphasis .btn:hover {
  border-color: #5a5a5a;
}
.nav-arrow.emphasis .btn:hover .btn-line, .nav-arrow.emphasis .btn:hover .btn-arrow-up, .nav-arrow.emphasis .btn:hover .btn-arrow-down {
  background-color: #5a5a5a;
}
.nav-arrow.emphasis .btn:hover:before, .nav-arrow.emphasis .btn:hover:after {
  border-color: #80217e;
}
.nav-arrow.emphasis .btn .btn-line, .nav-arrow.emphasis .btn .btn-arrow-up, .nav-arrow.emphasis .btn .btn-arrow-down {
  background-color: #80217e;
  transition: background-color 0.5s;
}

.nav-arrow {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  display: flex;
  transform: translateY(-50%);
  justify-content: space-between;
  z-index: 2;
}
.nav-arrow .btn {
  cursor: pointer;
}
.nav-arrow .btn-prev {
  left: 0.625em;
}
@media screen and (min-width: 40em) {
  .nav-arrow .btn-prev {
    left: 1.5625em;
  }
}
@media screen and (min-width: 53.125em) {
  .nav-arrow .btn-prev {
    left: 3.125em;
  }
}
.nav-arrow .btn-next {
  right: 0.625em;
}
@media screen and (min-width: 40em) {
  .nav-arrow .btn-next {
    right: 1.5625em;
  }
}
@media screen and (min-width: 53.125em) {
  .nav-arrow .btn-next {
    right: 3.125em;
  }
}

.gallery-count {
  font-weight: 500;
}
.gallery-count .current-slide {
  font-size: 1em;
  color: #80217e;
}

.arrow-prev {
  transform: scale(-1, 1);
}

.btn-prev {
  transform: scale(-1, 1);
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 1360px;
  margin: 0 auto;
}
.slider .mask {
  width: 400%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #fff;
  z-index: 1;
  transform: translate3d(100%, -100%, 0);
  padding-top: 400%;
  border-radius: 100%;
}

.slider-wrapper {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.slider-wrapper .slider-item {
  width: 100%;
  flex: 0 0 auto;
  text-align: center;
}
.slider-wrapper .slider-item figure {
  display: block;
  margin: 0;
  width: auto;
  width: 100%;
  /* max-width: 100%;*/
  /*display: inline-block;*/
}
.slider-wrapper .slider-item figure img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-only-text {
  font-size: 3.875em;
}

.carousel {
  position: relative;
}
.carousel-container {
  overflow: hidden;
  position: relative;
}
.carousel-wrapper {
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
}
.carousel-item {
  background-color: #000;
  flex: 0 0 auto;
  width: 100%;
  color: #fff;
  overflow: hidden;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 40em) {
  .carousel-item {
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}
@media screen and (min-width: 53.125em) {
  .carousel-item {
    padding-left: 3.125em;
    padding-right: 3.125em;
  }
}
.carousel-item.alt {
  background-color: #80217e;
}
@media screen and (min-width: 40em) {
  .carousel-item {
    width: 50%;
  }
}
@media screen and (min-width: 53.125em) {
  [items="3"] .carousel-item {
    width: 33.33333%;
  }
  [items="4"] .carousel-item {
    width: 25%;
  }
}
.carousel-item .title {
  font-size: 1.5em;
  padding: 2.08333em 0;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (min-width: 40em) {
  .carousel-item .title {
    font-size: 1.875em;
    padding: 1.66667em 0;
  }
}
.carousel-item .btn {
  position: absolute;
  bottom: 0.9375em;
  left: 50%;
  transform: translate3d(-50%, 20%, 0);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.carousel-item .btn-text {
  font-size: 1.125em;
}
.carousel-item .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-item .cover:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: .15;
  background-color: #000;
  transition: opacity 0.5s;
}
.carousel-item-content {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.carousel-item .excerpt, .carousel-item .logo {
  position: relative;
  overflow: hidden;
}
.carousel-item .logo {
  display: inline-block;
  max-width: 100%;
}
.carousel-item .logo img {
  width: 100%;
  display: block;
  transform: translate3d(0, -100%, 0);
  transition: 0.5s transform;
}
.carousel-item .excerpt > p {
  transition: 0.5s transform;
  transform: translate3d(0, 100%, 0);
}
.carousel-item:hover .excerpt > p, .carousel-item:hover .logo img {
  transform: translate3d(0, 0%, 0);
}
.carousel-item:hover .btn {
  opacity: 1;
  transform: translate3d(-50%, 0%, 0);
}
.carousel-item:hover .cover:after {
  opacity: .4;
}
.carousel-nav .btn {
  position: absolute;
  bottom: 2.1875em;
  min-height: 2.1875em;
  min-width: 2.1875em;
}
.carousel-nav .btn-prev {
  left: 10px;
}
@media screen and (min-width: 40em) {
  .carousel-nav .btn-prev {
    left: 1.5625em;
  }
}
@media screen and (min-width: 53.125em) {
  .carousel-nav .btn-prev {
    left: 3.125em;
  }
}
.carousel-nav .btn-next {
  right: 10px;
}
@media screen and (min-width: 40em) {
  .carousel-nav .btn-next {
    right: 1.5625em;
  }
}
@media screen and (min-width: 53.125em) {
  .carousel-nav .btn-next {
    right: 3.125em;
  }
}

svg {
  max-width: 1360px;
  margin: 0 auto;
  display: block;
}

.user-col {
  padding: 0 !important;
  overflow: hidden;
  cursor: pointer;
}
.user-col .user-image {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0;
}
.user-col .user-image img {
  width: 100%;
  height: auto;
  display: block;
}
.user-col .mask {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.user-col .mask .user-details {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333132;
  color: #fff;
  transition: transform 0.5s;
}
.user-col .mask .user-details-name {
  font-size: 1.125em;
  font-style: italic;
}

[data-position="0"] .mask {
  top: 100%;
  left: 0;
}
[data-position="0"] .mask .user-details {
  top: -100%;
  left: 0;
}
[data-position="0"]:hover .mask {
  transform: translateY(-100%);
}
[data-position="0"]:hover .mask .user-details {
  transform: translateY(100%);
}

[data-position="1"] .mask {
  top: 0;
  left: 100%;
}
[data-position="1"] .mask .user-details {
  top: 0;
  left: -100%;
}
[data-position="1"]:hover .mask {
  transform: translateX(-100%);
}
[data-position="1"]:hover .mask .user-details {
  transform: translateX(100%);
}

[data-position="2"] .mask {
  top: -100%;
  left: 0;
}
[data-position="2"] .mask .user-details {
  top: 100%;
  left: 0;
}
[data-position="2"]:hover .mask {
  transform: translateY(100%);
}
[data-position="2"]:hover .mask .user-details {
  transform: translateY(-100%);
}

[data-position="3"] .mask {
  top: 0;
  left: -100%;
}
[data-position="3"] .mask .user-details {
  top: 0;
  left: 100%;
}
[data-position="3"]:hover .mask {
  transform: translateX(100%);
}
[data-position="3"]:hover .mask .user-details {
  transform: translateX(-100%);
}

.video {
  opacity: 1;
  transition: opacity .5s;
  position: relative;
  background-size: cover;
  background-position: 50%;
  max-width: 1360px;
  margin: 0 auto;
}
.video svg {
  display: block;
  max-width: 1360px;
  margin: 0 auto;
}
.video .container-player {
  position: relative;
  /*        position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          background-size: cover;
          background-position: 50%;*/
}
.video .container-player .player {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.7);
  /*    position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);*/
}
.video .container-player .video-foreground {
  transition: opacity .5s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.video .container-player .video-foreground iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.video .container-player .clients {
  position: absolute;
  left: 3.75em;
  bottom: 3.75em;
  color: #fff;
}
.video .container-player .clients h4 {
  font-weight: normal;
  line-height: 119.44444%;
}
.video .container-play {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.video .container-play .play {
  cursor: pointer;
  opacity: 1;
  color: #fff;
}
.video .container-close {
  /*   position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;*/
}
.video .container-close .close {
  position: absolute;
  top: 2.5em;
  right: 2.5em;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s,visibility .5s;
}

.title-video {
  font-style: italic;
  font-weight: normal;
  top: 10%;
  color: #fff;
  left: 50%;
  font-size: 2em;
  position: absolute;
  transform: translateX(-50%);
}

.footer {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 7.5em;
  text-align: center;
  background-color: #fff;
}
.footer .link-cookie {
  color: #80217e;
  font-weight: bold;
}
.home .footer {
  padding-bottom: 10px;
}

.cat {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  position: fixed;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(141deg, #aa047c, #80217e);
}
@media screen and (min-width: 40em) {
  .cat {
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}
@media screen and (min-width: 53.125em) {
  .cat {
    padding-left: 3.125em;
    padding-right: 3.125em;
  }
}
.cat a {
  color: #fff;
}
.cat-text {
  padding-right: 0.9375em;
}
.cat .btn {
  margin-top: 0.9375em;
  margin-bottom: 0.9375em;
}

.page-header {
  position: relative;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}
.page-header .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(141deg, #aa047c, #80217e);
  background-image: linear-gradient(141deg, #aa047c, #80217e, #df00d2, #80217e);
  animation: gradientAnim 15s ease infinite;
  background-size: 300% 300%;
}
.page-header .cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: 50%;
}

.container-text-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container-text-header .text-header {
  display: flex;
  flex-direction: column;
}

.home {
  overflow: hidden;
  height: 100vh;
}
.home .logo, .home .btn-menu {
  position: fixed;
}
.home-title {
  font-size: 9.375vmin;
  color: #fff;
  line-height: 119.44444%;
  text-align: center;
  font-weight: normal;
  margin: auto;
}
.home-title-row {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.home-title-sentence {
  transition: transform 0.5s 0.5s;
  color: #fff !important;
  display: inline-block;
  transform: translate3d(0%, -120%, 0) skewY(2deg);
}
.wf-active .home-title-sentence, .wf-inactive .home-title-sentence {
  transform: translate3d(0%, 0%, 0) skewY(0deg);
}
.wf-loading .home-title-sentence {
  transform: translate3d(0%, -120%, 0) skewY(2deg);
}
.home-title a {
  font-weight: bold;
}
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.home-container .carousel {
  flex: 20;
  display: flex;
}
.home-container .carousel-container, .home-container .carousel-wrapper {
  flex: 0 0 auto;
}
.home-container .carousel-container {
  width: 100%;
  display: flex;
}
.home .page-header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 4;
  min-height: 0;
  height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 6.25em;
  padding-bottom: 6.25em;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 40em) {
  .home .page-header {
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}
@media screen and (min-width: 53.125em) {
  .home .page-header {
    padding-left: 3.125em;
    padding-right: 3.125em;
  }
}
.home .page-header .btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

body#tinymce {
  margin: 12px !important;
}
