@font-face {
  font-family: "bspkn-icons";
  src: url('../fonts/bspkn-icons.eot');
  src: url('../fonts/bspkn-icons.eot?#iefix') format('eot'),
    url('../fonts/bspkn-icons.woff2') format('woff2'),
    url('../fonts/bspkn-icons.woff') format('woff'),
    url('../fonts/bspkn-icons.ttf') format('truetype'),
    url('../fonts/bspkn-icons.svg#bspkn-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"], [class*=" icon"] {
  display: inline-block;
  font-family: "bspkn-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: "\EA01" }
.icon-google:before { content: "\EA02" }
.icon-instagram:before { content: "\EA03" }
.icon-linkedin:before { content: "\EA04" }
.icon-logo-white:before { content: "\EA05" }
.icon-scroll-mouse:before { content: "\EA06" }
.icon-twitter:before { content: "\EA07" }