*, *:after, *:before {
    box-sizing: border-box !important;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-size: $base-font-size - 4px;
    color: $gray-dark;
    margin: 0;
    font-family: $main-font;
    @include breakpoint(640px) {
        font-size: $base-font-size - 2px;
    }
    @include breakpoint(1024px) {
        font-size: $base-font-size;
    }
}

a {
    text-decoration: none;
    transition: color $speed;
    a {
        color: $purple;
        font-weight: bold;
    }
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    line-height: $interline-title
}

p {
    line-height: $interline-base;
    .content & {
        font-size: em(18px);
        color: $gray;
  /*      padding-bottom: em(50px, 18px);*/
        &:nth-last-child(1), &:nth-last-of-type(1) {
            padding-bottom: 0;
        }
    }
}

h1 {
    font-size: em(72px);
}

h2 {
    font-size: em(48px);
}

h3 {
    font-size: em(36px);
}

h4 {
    font-size: em(24px);
}

h5 {
    font-size: em(20px);
}

.title, .subtitle {
    position: relative;

}

.title {
    font-weight: normal;
    line-height: $interline-title;
    span {
        font-weight: 500;
    }
    .bg-dark & {
        color: $w;
    }
    .page-header & {
        line-height: $interline-title;
        text-align: center;
        color: $w;
        font-weight: bold;
    }
    &-registry {
        font-size: em(18px);
    }

    &-minus {
        font-size: em(20px);
        text-transform: uppercase;
        font-style: normal;
        padding-bottom: em(20px, 20px);
    }
    &-normal {
        font-size: em(36px);
        text-transform: uppercase;
        font-style: normal;
    }
    &-important {
        font-size: em(72px);
        text-transform: uppercase;
        font-style: normal;
    }
}


.subtitle {
    .page-header & {
        font-size: em(24px);
        font-weight: normal;
        line-height: $interline-title;
        color: $w;
        text-align: center;
    }
}

.bg-white {
    background-color: $w;
}
.alternate{
    background-color: $light;
}
.bg-dark {
    background-color: $gray-dark;
}
.bg-gradient {
    @include gradient();
}
.aligncenter {
    text-align: center;
}
.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}

.top-v {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.center-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom-v {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.emphasis {
    color: $purple;
}

.slider-only-text {
    line-height: $interline-base;
}

.number {
    font-size: em(48px);
    strong {
        font-size: em(70px, 48px);
        color: $purple;
        font-style: italic;
    }
}

%subline {
    color: $w;
    position: relative;
    display: inline-block;
    &:after {
        position: absolute;
        height: 2px;
        left: 0%;
        right: 100%;
        bottom: 0;
        background-color: $w;
        content: '';
        transition: left $speed, right $speed $speed;
    }
    &:hover {
        &:after {
            left: 100%;
            right: 0%;
            transition: left $speed $speed, right $speed;
        }
    }
}

.permalink {
    @include absfull;
    z-index: 2;
}