*, *:after, *:before {
    box-sizing: border-box !important;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-size: $base-font-size - 4px;
    color: $gray-dark;
    margin: 0;
    font-family: $main-font;

    @include breakpoint(640px) {
        font-size: $base-font-size - 2px;
    }
    @include breakpoint(1024px) {
        font-size: $base-font-size;
    }
}

a {
    text-decoration: none;
    transition: color $speed;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

p {
    margin: 0;
    font-size: em(18px);
    line-height: $interline-base;
}

h1 {
    font-size: em(72px);
}

h2 {
    font-size: em(48px);
}

h3 {
    font-size: em(36px);
}

h4 {
    font-size: em(24px);
}

h5 {
    font-size: em(20px);
}

.title, .subtitle {
    position: relative;
    color: $w;
    text-align: center;
}

.title {
    .siamo & {
        font-weight: 100;
    }
}
.subtitle {
    .siamo & {
        font-size: em(72px);
        font-weight: bold;
    }
}


