*, *:after, *:before {
    box-sizing: border-box !important;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-size: $base-font-size - 4px;
    color: $gray-dark;
    margin: 0;
    font-family: $main-font;
    @include breakpoint(640px) {
        font-size: $base-font-size - 2px;
    }
    @include breakpoint(1024px) {
        font-size: $base-font-size;
    }
}

a {
    text-decoration: none;
    transition: color $speed;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    line-height: $interline-title
}

p {
    line-height: $interline-base;
    .content & {
        font-size: em(18px);
        color: $gray;
    }
}

h1 {
    font-size: em(72px);
}

h2 {
    font-size: em(48px);
}

h3 {
    font-size: em(36px);
}

h4 {
    font-size: em(24px);
}

h5 {
    font-size: em(20px);
}

.title, .subtitle {
    position: relative;

}

.title {
    span {
        font-weight: 500;
    }
    .bg-dark & {
        color: $w;
    }
    .page-header & {
        font-weight: normal;
        line-height: $interline-title;
        text-align: center;
        color: $w;
    }
    &-registry {
        font-size: em(18px);
        font-weight: normal;
    }
}


.subtitle {
    .header & {
        font-size: em(24px);
        font-weight: normal;
        line-height: $interline-title;
        color: $w;
    }
}

.bg-white {
    background-color: $w;
}
.alternate{
    background-color: $light;
}
.bg-dark {
    background-color: $gray-dark;
}
.bg-gradient {
    @include gradient();
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.top-v {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.center-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom-v {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.emphasis {
    color: $purple;
}

.slider-only-text {
    line-height: $interline-base;
}